.result {
  display: grid;
  align-content: start;
  gap: 0;
  margin-block-start: 48px;
  padding-inline-end: 0px;
}

.result__video-container {
  position: relative;
  display: flex;
  max-height: 386px;
  margin-block-start: 30px;
  padding-block-end: 56.25%;;
}

.result__video {
  inset: 0;
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}