.result {
  display: grid;
  align-content: start;
  gap: 0;
  margin-block-start: 48px;
  padding-inline-end: 0;
}

.result__video-container {
  position: relative;
  display: flex;
  margin-block-start: 30px;
  margin-block-end: 20px;
  block-size: 386px;
  inline-size: 711px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  block-size: 386px;
}