.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  column-gap: 38px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  margin-block-start: 2px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block-start: 5px;
  cursor: pointer;
  inline-size: 100%;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: 1px solid var(--secondary-color);
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label-text {
  margin-inline-start: 3px;
}

.search-form__pseudo-checkbox {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__submit-button {
  margin-inline-start: 5px;
  margin-block-start: 20px;
  padding-inline-start: 75px;
  padding-inline-end: 71px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: flex;
  border: 1px solid var(--secondary-color);
  border-width: 4px;
  border-style: double; 
  outline: 2px solid var(--main-bg-color);
  outline-offset: -3px;
  background-color: var(--secondary-color);
  inline-size: 19px;
  block-size: 19px;
}

.search-form__textfield {
  display: flex;
  margin-block-start: 1px;
  border: none;
  border-block-start: 1px solid var(--secondary-color);
  border-block-end: 1px solid var(--secondary-color);
  padding-inline-start: 0px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
  background: transparent;
  cursor: pointer;
  min-inline-size: 225px;
  appearance: none;
}

.search-form__textfield:active {
  border-block-start: 1px solid var(--main-bg-color);
  border-block-end: 1px solid var(--main-bg-color);
  outline: 1px solid var(--secondary-color);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid var(--secondary-color);
  outline-offset: 1px;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:hover {
  cursor: text;
}