*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #1B1919;
  --accent-color: #545050;
  --secondary-color: #fff;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

.page {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: var(--main-bg-color);
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

